@model TestTsskAboutClientServices_TraineeMaUi_.ViewModels.ClientViewModel
@{
    ViewData["Title"] = "Check clients orders";
}

@if (ViewData["Error"] != null)
{
    <div class="container">
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    </div>
}

<div class="container mt-5 text-center">
    <h2 class="text-center">Перевірити історію замовлень</h2>

    <!-- Випадаючий список рахунків -->
    <div class="mb-4">
        <label for="accountSelectHistory">Оберіть рахунок клієнта:</label>
        <select id="accountSelectHistory" class="form-control">
            @foreach (var idClient in Model.ClientsId)
            {
                <option value="@idClient.Id" asp-route-id="@idClient.Id">@idClient.Id</option>
            }
        </select>
    </div>

    @* При виборі клієнта, за допомогою js міняємо стару таблицю замовлень на нову, з новою інформацією *@
    <div id="HystoryTable">
        @await Html.PartialAsync("PartialHistoryView.cshtml")
    </div>

</div>
