@model TestTsskAboutClientServices_TraineeMaUi_.ViewModels.ClientViewModel
@{
    ViewData["Title"] = "Edit client";
}

@if (ViewData["Error"] != null)
{
    <div class="container">
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    </div>
}

<div class="container mt-5 text-center">
    <h2 class="text-center">Редагувати Клієнта</h2>

    <!-- Випадаючий список рахунків -->
    <div class="mb-4">
        <label for="accountSelect">Оберіть рахунок клієнта:</label>
        <select id="accountSelect" class="form-control">
            @foreach(var idClient in Model.ClientsId)
            {
                <option value="@idClient.Id" asp-route-id="@idClient.Id">@idClient.Id</option>
            }
        </select>
    </div>

    <!-- Форма редагування -->
    <div id ="EditForm">
        @await Html.PartialAsync("PartialdEditView.cshtml")
    </div>

</div>
